#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: rgba(241, 70, 136, 0.98);
  font-size: 30px;
  width: 1260px;
  height: 70px;
  margin-top: -20px;
  border-radius: 100px;
}
nav h6{
  margin-right: 40px;
  margin-bottom: 25px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}
nav li{
  list-style: none;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 10px;

}
nav a{
  text-decoration: none;
}
nav a.active-link{
  color: rgb(3, 3, 3);
}
.product-list{
  display: flex;
  flex-wrap: wrap;

}

.product-card{
  font-size: 12px;
  width: 300px;
  height: 550px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.product-card img{
  width: 200px;
  height: 150px;
}

.cart ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
  list-style: none;
}
.cart ul li{

  padding-right: 20px;
}

.cart ul img{
  width: 200px;
  height: 250px;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
